<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>教师管理</title>
</head>
<body>
<h1>教师管理</h1>
<!--正文内容-->
<table border="1px" width="100%">
    <tr>
        <td>教师号</td>
        <td>密码</td>
        <td>姓名</td>
        <td>性别</td>
        <td>年级号</td>
        <td>电话</td>
        <td>邮箱</td>
        <td>操作</td>
    </tr>
    <tr th:each="teacher:${list}">
        <td th:value="${teacher.tid}"></td>
        <td th:value="${teacher.tpassword}"></td>
        <td th:value="${teacher.tname}"></td>
        <td th:value="${teacher.tsex}"></td>
        <td th:value="${teacher.tdeptId}"></td>
        <td th:value="${teacher.tphone}"></td>
        <td th:value="${teacher.temail}"></td>
        <td>
            <a href="/teacher/toUpdate?tid=${.tid}">编辑</a>|<a href="/teacher/delete">删除</a>
        </td>
    </tr>
    <a href="/teacher/add">新增</a>
</table>
</body>
</html>